* {
    margin: 0;
    box-sizing: border-box;
    text-decoration-line: none;
    font-family: 'MyriadArabic-Light', Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5em;
    word-spacing: .1em;
    font-weight: 100;
}

p {
    font-size: .8em;
}

a {
    text-decoration: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

a:active,
a:visited {
    color: white;
    text-decoration: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.disabled {
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
    cursor: default;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.clickable {
    border: 3px solid white;
    border-radius: 10px;
}

.clickable:hover {
    cursor: pointer;
    border: 3px solid rgb(255, 120, 110);
}

.clickable:active {
    border: 3px solid rgb(255, 194, 158);
}
.underline{
    text-decoration-line: underline !important;
    -moz-text-decoration-line: underline !important;
}
/* CUBE */

@keyframes onload {
    from {
        -webkit-transform: translate3d(0, 0, -155px)rotate3d(1, 5, 0, 420deg);
        -moz-transform: translate3d(0, 0, -155px)rotate3d(1, 5, 0, 420deg);
        transform: translate3d(0, 0, -155px)rotate3d(1, 5, 0, 420deg);
    }
    to {
        -webkit-transform: translate3d(0, 0, -155px)rotate3d(1, 5, 0, 15deg);
        -moz-transform: translate3d(0, 0, -155px)rotate3d(1, 5, 0, 15deg);
        transform: translate3d(0, 0, -155px)rotate3d(1, 5, 0, 15deg);
    }
}

.cube-wrapper {
    perspective: 1000px;
    position: relative;
    height: 0px;
    width: 0px;
}

.cube {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;
    -webkit-transform: translate3d(0, 0, -155px)rotate3d(1, 5, 0, 15deg);
    -moz-transform: translate3d(0, 0, -155px)rotate3d(1, 5, 0, 15deg);
    transform: translate3d(0, 0, -155px)rotate3d(1, 5, 0, 15deg);
    -webkit-animation: onload;
    -moz-animation: onload;
    animation: onload;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1500ms;
    -moz-animation-duration: 1500ms;
    animation-duration: 1500ms;
}

.panel {
    position: absolute;
    height: 190px;
    width: 190px;
    top: 50%;
    left: 50%;
    text-align: center;
    background: rgba(15, 150, 178, .8);
    transition: transform .3s ease-in-out, height .3s .3s ease-in-out, width .3s .3s ease-in-out;
}

.front {
    -webkit-transform: rotate3d(0, 0, 0, 0deg) translate3d(-50%, -50%, 155px);
    -moz-transform: rotate3d(0, 0, 0, 0deg) translate3d(-50%, -50%, 155px);
    transform: rotate3d(0, 0, 0, 0deg) translate3d(-50%, -50%, 155px);
}

.back {
    -webkit-transform: rotate3d(1, 0, 0, 180deg)translate3d(-50%, 50%, 155px);
    -moz-transform: rotate3d(1, 0, 0, 180deg)translate3d(-50%, 50%, 155px);
    transform: rotate3d(1, 0, 0, 180deg)translate3d(-50%, 50%, 155px);
}

.top {
    -webkit-transform: translate3d(-50%, -50%, 0)rotate3d(1, 0, 0, 90deg)translate3d(0, 0, 155px);
    -moz-transform: translate3d(-50%, -50%, 0)rotate3d(1, 0, 0, 90deg)translate3d(0, 0, 155px);
    transform: translate3d(-50%, -50%, 0)rotate3d(1, 0, 0, 90deg)translate3d(0, 0, 155px);
}

.bottom {
    -webkit-transform: translate3d(-50%, -50%, 0)rotate3d(1, 0, 0, -90deg)translate3d(0, 0, 155px);
    -moz-transform: translate3d(-50%, -50%, 0)rotate3d(1, 0, 0, -90deg)translate3d(0, 0, 155px);
    transform: translate3d(-50%, -50%, 0)rotate3d(1, 0, 0, -90deg)translate3d(0, 0, 155px);
}

.left {
    -webkit-transform: translate3d(-50%, -50%, 0)rotate3d(0, 1, 0, -90deg)translate3d(0, 0, 155px);
    -moz-transform: translate3d(-50%, -50%, 0)rotate3d(0, 1, 0, -90deg)translate3d(0, 0, 155px);
    transform: translate3d(-50%, -50%, 0)rotate3d(0, 1, 0, -90deg)translate3d(0, 0, 155px);
}

.right {
    -webkit-transform: translate3d(-50%, -50%, 0)rotate3d(0, 1, 0, 90deg)translate3d(0, 0, 155px);
    -moz-transform: translate3d(-50%, -50%, 0)rotate3d(0, 1, 0, 90deg)translate3d(0, 0, 155px);
    transform: translate3d(-50%, -50%, 0)rotate3d(0, 1, 0, 90deg)translate3d(0, 0, 155px);
}

/* PANEL DATA */

.panel-body {
    -webkit-display: flex;
    -moz-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.panel-header h1 {
    padding-top: 5px;
}

.panel-content {
    visibility: hidden;
    height: 0;
    transition: height .3s ease-in, opacity .3s ease-in;
    -webkit-display: flex;
    -moz-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    opacity: 0;
}

.panel-content a {
    text-decoration-line: underline;
    color: white;
}

.panel-content a:hover {
    color: rgb(255, 120, 110);
}

.panel-content a:active {
    color: rgb(255, 194, 158);
}

.active {
    visibility: initial;
    height: 100%;
    opacity: 1;
}

.tech-stack {
    margin-top: 3px;
    padding: 5px;
    display: flex;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    background: rgba(255, 255, 255, .5);
}

.logo {
    height: 60px;
    margin-bottom: 3px;
    width: 33%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.node {
    background-image: url('./images/node.png');
}

.js {
    background-image: url('./images/js.png');
}

.css {
    background-image: url("./images/css.png");
}

.react {
    background-image: url("./images/react.png");
}

.mongo {
    background-image: url("./images/mongo.png");
}

.html {
    background-image: url("./images/html.png");
}

.panel-gallery {
    -webkit-display: grid;
    -moz-display: grid;
    display: grid;
    -webkit-grid-row-gap: 1em;
    -moz-grid-row-gap: 1em;
    grid-row-gap: 1em;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}

.panel-gallery a {
    text-decoration-line: none;
}

.thumbnail {
    background-size: 93% auto;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    border: 1px solid transparent;
    transition: border .1s linear;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.thumbnail::before {
    color: white;
}

.thumbnail:hover {
    border: 1px solid white;
}

.jerb {
    background-image: url('./images/jerb.png');
}

.jerb::before {
    content: 'Jerb';
}

.pulser {
    background-image: url("./images/pulser.png")
}

.pulser::before {
    content: 'React Pulser';
}

.vschool {
    background-image: url("./images/vschool.png");
    background-position: center;
}

.vschool::before {
    content: 'VSchool Blog';
}

.conway {
    background-image: url("./images/conway.png");
    background-position: center;
    background-size: 75%;
}

.conway::before {
    content: 'Game Of Life';
}

@media (min-width: 700px) {
    .panel-content-mid {
        width: 350px;
    }
    .panel-gallery {
        -webkit-grid-template-columns: 1fr 1fr;
        -moz-grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -webkit-grid-column-gap: 1em;
        -moz-grid-column-gap: 1em;
        grid-column-gap: 1em;
    }
}

@media (max-height: 450px) {
    .wide-panel-content {
        width: 100%;
    }
    .tech-stack {
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        flex-wrap: nowrap;
        width: 100%;
    }
    .panel-gallery {
        -moz-grid-template-columns: 1fr 1fr;
        -webkit-grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -moz-grid-column-gap: 1em;
        -webkit-grid-column-gap: 1em;
        grid-column-gap: 1em;
    }
}