<div id="about-me">
    <p>Hello! I'm an aspiring web developer from SLC, Utah.</p>
    <p>I've got a bit of an ecclectic history; I graduated with a B.S. in Philosophy from the University of Utah. I was a professional TIG welder for over 4 years. I've written, co-written, recorded, and co-produced several music albums over the last 12 years. Somehow through the maze of life I discovered a love for coding and web design. </p>
    <p>I believe that all things are connected, no matter how distant or contradictory they may seem. I like to combine stray ideas from across the spectrum of life's experiences.</p>
    <p>Please reach out if you are interested in working together!</p>
</div>