<div id="about-me">
    
    <div id="about-me-panel">
<img id="profile-img" src="/images/FTB.jpg">
        <div id="about-me-info">
            <h4>Hello!</h4>
        <h5>My name is Ben Turner.</h5>
        <h5>I specialize in MEAN stack web development.</h5>
        <p>Code does exactly what it's told to do, but it is the human experience which carries that message.</p>
        <b>If you are interested in working together, please reach out!</b>
        <p>-Ben</p>
        
        </div>
    </div>

</div>